10.行数をカウントせよ．確認にはwcコマンドを用いよ．

In [1]:
with open('hightemp.txt', 'r') as f:
    print(len(f.readlines()))

24

wc -l hightemp.txt

11.タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [2]:
with open('hightemp.txt') as f:
    print(f.read().replace('\t', ' '))

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

sed -e 's/\t/ /g' hightemp.txt

12.各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [3]:
col1 = []
col2 = []
with open('hightemp.txt') as f:
    for i in f.readlines():
        line = i.split()
        col1.append(line[0])
        col2.append(line[1])
with open('col1.txt', 'w') as f:
    f.writelines('\n'.join(col1))
with open('col2.txt', 'w') as f:
    f.writelines('\n'.join(col2))

cut -f 1 hightemp.txt > col1.txt
cut -f 2 hightemp.txt > col2.txt

13.12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [4]:
text_13 = []
with open('col1.txt') as f1:
    with open('col2.txt') as f2:
        t1 = f1.readlines()
        t2 = f2.readlines()
        for i in range(len(t1)):
            if i < len(t2):
                text_13.append(t1[i].replace('\n', '\t') + t2[i])
with open('col12.txt', 'w') as f:
    f.writelines('\n'.join(text_13))

paste col1.txt col2.txt > col12.txt

14.自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [5]:
N_14 = 3
with open('hightemp.txt') as f:
    lines = f.readlines()
    for i in range(N_14):
        print(lines[i], end = '')

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16

head -n 3 hightemp.txt

15.自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [6]:
N_15 = 3
with open('hightemp.txt') as f:
    lines = f.readlines()
    for i in range(N_15):
        print(lines[len(lines) - N_15 + i], end = '')

山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

tail -n 3 hightemp.txt

16.自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [7]:
def chunked(iterable, n):
    return [iterable[x:x + n] for x in range(0, len(iterable), n)]

N_16 = 10
with open('hightemp.txt') as f:
    lines = f.readlines()
    for i, text in enumerate(chunked(lines, N_16)):
        with open('hightemp-' + str(i) + '.txt', 'w') as wf:
            wf.writelines(text)

split -l 10 hightemp.txt hightemp-

17.1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

In [8]:
with open('hightemp.txt') as f:
    text = []
    for i in f.readlines():
        x = i.split()[0]
        if x not in text:
            text.append(x)
for i in text:
    print(i)

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
群馬県
愛知県
千葉県
愛媛県
大阪府

cut -f 1 hightemp.txt | sort | uniq

18.各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [23]:
with open('hightemp.txt') as f:
    list = f.readlines()
    text = []
    for l in list:
        text.append(l.split())
    text.sort(key=lambda x:-float(x[2]))
    print(text)

[['高知県', '江川崎', '41', '2013-08-12'], ['埼玉県', '熊谷', '40.9', '2007-08-16'], ['岐阜県', '多治見', '40.9', '2007-08-16'], ['山形県', '山形', '40.8', '1933-07-25'], ['山梨県', '甲府', '40.7', '2013-08-10'], ['和歌山県', 'かつらぎ', '40.6', '1994-08-08'], ['静岡県', '天竜', '40.6', '1994-08-04'], ['山梨県', '勝沼', '40.5', '2013-08-10'], ['埼玉県', '越谷', '40.4', '2007-08-16'], ['群馬県', '館林', '40.3', '2007-08-16'], ['群馬県', '上里見', '40.3', '1998-07-04'], ['愛知県', '愛西', '40.3', '1994-08-05'], ['千葉県', '牛久', '40.2', '2004-07-20'], ['静岡県', '佐久間', '40.2', '2001-07-24'], ['愛媛県', '宇和島', '40.2', '1927-07-22'], ['山形県', '酒田', '40.1', '1978-08-03'], ['岐阜県', '美濃', '40', '2007-08-16'], ['群馬県', '前橋', '40', '2001-07-24'], ['千葉県', '茂原', '39.9', '2013-08-11'], ['埼玉県', '鳩山', '39.9', '1997-07-05'], ['大阪府', '豊中', '39.9', '1994-08-08'], ['山梨県', '大月', '39.9', '1990-07-19'], ['山形県', '鶴岡', '39.9', '1978-08-03'], ['愛知県', '名古屋', '39.9', '1942-08-02']]

sort -gr -k 3,3 hightemp.txt

19.各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [28]:
from collections import Counter
with open('hightemp.txt') as f:
    text = []
    for i in f.readlines():
        x = i.split()[0]
        text.append(x)
appear_sort = Counter(text)
for word in appear_sort.most_common():
    print(word[0])

山梨県
山形県
埼玉県
群馬県
千葉県
愛知県
静岡県
岐阜県
愛媛県
高知県
大阪府
和歌山県

In [ ]:
cut -f 1 hightemp.txt | sort | uniq -c | sort -nr